.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.card {
  padding: 10px;
  background-color: #ccc;
  border: 1px solid #000000;
  margin: 10px;
}

body{
    background-color: #ccc;
}

h1,h2{
    text-align: center;
    font-family:cloister-black ;
}

.card{
    border: solid 3px #580000;
    border-radius: 10px;
    box-shadow: black 2px 3px 1px;
}
.card:hover{
    transform: scale(1.02);
}

button{
    border-radius: 6px;
    border: 1px orange solid;
    font-size: 20px;
}

#del{
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    background-color: #580000;
    color: #ccc;
}
#del:hover{
    animation: wiggle 0.6s ease-in-out;
    filter: hue-rotate(270deg);
    
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }

}

.add{
    display: flex;
    justify-content: center;
}


.btn{
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    background-color: #2cfc03;
    color: rgb(132, 5, 5);
    border: #25005d 2px solid;
    border-radius: 9px;
    box-shadow: black 3px -5px 0px ;
}


.btn:hover{
    animation: boogie 1.5s ease-in-out;
}
@keyframes boogie {
     0% {
    transform: scale(1.2);
    background-color: #580000;
    color: #2cfc03;
  }
  20% {
    transform: scale(0.7);
    
    
  }
  40% {
    transform: scale(1.3);
    
    
  }
  60% {
    transform: scale(0.6);
    
    
  }
  80% {
    transform: scale(1.4);
    
    
  }

  100% {
    transform: scale(1);
    
  }

    
}

form{
    border: #580000 solid 3px;
    border-radius:10px;
    background-color: #580000;
    color: #ccc;
    box-shadow: 3px 3px 2px black;
}

.form{
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 20px;
}
.input{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.desc{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

input, select, textarea{
    width: 200px;
    border: #000000 1px solid;
    border-radius: 3px;
    background-color: #ccc;

}




.btn {
  display: inline-block;
  padding: 12px 24px;
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

body.anim-mode{
    background: red;
    font-size: 25px;
    color: #2cfc03;
}

body.anim-mode *:hover {
  animation: célamerd 2.5s ease-in-out;
}

@keyframes célamerd {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(150deg) scale(1.3);
    background-color: #580000;
    color: #2cfc03;
  }
  50% {
    transform: rotate(-45deg) scale(0.5);
  }
  75% {
    transform: rotate(100deg) scale(1.1);
    background-color: #19afb5;
    color: #0b3703;
  }
  100% {
    transform: rotate(0deg);
  }

}

.json{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#btn{
  background-color: red;
  color: yellow;
}